:root{
    --color-dark: #102746;
    --color-light: #FFFFFF;
    --color-accent: #006DFE;

    --font-family-base: 'Lato';

    // --container-width: 1264px;
    // --container-padding-x: 80px;
    // --container-padding-y: 65px;

    --button-height: 42px;
    --border:1px solid inherit;

    --transition-duration: 0.2s;
}